body{
    background-color: #fff;
}
.container{
    width: 100%;
    position: relative;
    height: 80vh;
    top: 69px;
    
    background-image: url("../images/backgroundSales.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h2{
    color: #fff;
    font-size:2.5em;
    text-shadow: 0px 0px 1.5px #000;
}
.wave{
    position: absolute;
    bottom: 0;

}
.container-products{
    width: 95%;
    height: 250vh;
    position: relative;
     margin-left: 2.5%;
     top: 109px;
     z-index: 1;
     background-color: #fff;
     
}
.container-products nav{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;

}
.container-products nav ul{
    text-align: center;
}
.container-products nav ul li{
 display: inline;   
 text-align: center;
 
}

.container-products nav ul li a{
text-align: center;
padding: 10px 20px;
background-color: #fff;
margin: -2px;

border: 1px solid rgba(0, 0, 0, 0.5);
}
.container-products nav ul li a:hover{
    
    background-color: #000;
}
#kids{
    background-color:#000;
    color: #fff;
}
.filter{
    width: 20%;
    height: 100vh;
    
    float: left;
    align-items: center;
}
.filter h2{
    text-align:center;
    padding: 10px 0px;
}
.precio{
    width: 85%;
    padding-left: 10%;
  }
  .products{
    width: 80%;
    height: 100vh;
    position: relative;
    float: left;
    border-left: 1px solid #000;
  }
  .card { 
    text-decoration: none;
    color: #2c2e41;
    max-width: 300px;
    width: 40%; 
    margin-top: 4%;
    margin-left: 3%;
    float: left;
    background: white;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(44, 46, 65, 0.15);
    -webkit-transttion: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
    }
    .card header {
        cursor: pointer;
    padding-bottom: 75%; 
    position: relative; 
    border-radius: 10px; 
    overflow: hidden; 
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    z-index:5;
    }
    .headerCard1{
        background-image: url("../images/kids/ropa1.jpg");

    }
    .headerCard2{
        background-image: url("../images/kids/ropa2.jpg");
    }
    .headerCard3{
        background-image: url("../images/kids/ropa3.jpg");
    }
     .headerCard4{
        background-image: url("../images/kids/ropa4.jpg");
    }
    .headerCard5{
        background-image: url("../images/kids/ropa5.jpg");
    }
    .headerCard6{
        background-image: url("../images/kids/ropa6.jpg");
    }
    .headerCard7{
        background-image: url("../images/kids/ropa7.jpg");
    }
    .headerCard8{
        background-image: url("../images/kids/ropa8.jpg");
    }
    .headerCard9{
        background-image: url("../images/kids/ropa9.jpg");
    }
    .headerCard10{
        background-image: url("../images/kids/ropa10.jpg");
    }
    .headerCard11{
        background-image: url("../images/kids/ropa11.jpg");
    }
    .headerCard12{
        background-image: url("../images/kids/ropa12.jpg");
    }
    


    .card .content {
    left: 0; 
    width: 100%;  
    cursor: pointer;
    background: #fff; 
    border-radius: 10px;
    padding: 30px 30px 30px; 
    margin-top: -20px; 
    position: relative;
    border-top:1px solid rgba(44, 46, 65, 0.5);
    
    -webkit-transition: all 0.3s ease-in-out;  
    transition: all 0.3s ease-in-out;  
    }
    .card .content> * {
    margin-bottom: 20px; 
    }
    .card .content> *:last-child {
    margin-bottom: 0;
    }
    .card .content h3 {
        font-size: 1.6em;
          font-weight: bold;
            margin-bottom: 15px;
    }
    .card .read-more {
        cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 0.8em;  
    padding: 10px 20px;
    background: #f1f1f1;
    border-radius: 50px;
    position: absolute; 
    bottom: 30px; 
    left: 30px;  
    z-index: 2;
    opacity: 0; 
    -webkit-transform: translateY(30px); 
    transform: translateY(30px); 
    -webkit-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
    }
    .card:hover {
    color: #000;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(44, 46, 65, 0.15);
    }

    .card:hover .content {
    color: #000;
    font-style: inherit;
    -webkit-transform: translateY(-50%); 
    transform: translateY(-50%);
    z-index: 10;
    }
    .card:hover .read-more {
    color: #000;
    font-style: normal;
        z-index: 4;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    footer{
        margin-top: 9%;
        z-index: 78;
    }
    .mision, .vision, .redes-sociales{
        width: 20%;
        height: 33vh;
        
        margin: 1.5%;
        float: left;
        color: #fff;
    }
    .redes-sociales{
        width: 50%;
        text-align: right;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        
    }
