*{
	margin: 0;
	padding: 0;
}


.main{
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #000;
	position: absolute;
	z-index: 100;
}

.spanMain{
	width: 10px;
	height: 80px;
	margin: 0 3px;
	border-radius: 50px;

}

.spanMain:nth-child(5){
	background: #ff414d;
	animation: anim 0.7s infinite;
}

.spanMain:nth-child(4),.spanMain:nth-child(6){
	background: #821752;
	animation: anim1 0.8s infinite;
}

.spanMain:nth-child(3),.spanMain:nth-child(7){
	background: #821752;
	animation: anim2 0.9s infinite;
}

.spanMain:nth-child(2),.spanMain:nth-child(8){
	background: #07689f;
	animation: anim3 1s infinite;
}

.spanMain:nth-child(1),.spanMain:nth-child(9){
	background: #00b7c2;
	animation: anim4 1.1s infinite;
}

@keyframes anim{
	0%,100%{ height: 30px; }
	50%{ height: 80px; }
}

@keyframes anim1{
	0%,100%{ height: 30px; }
	50%{ height: 100px; }
}

@keyframes anim2{
	0%,100%{ height: 30px; }
	50%{ height: 50px; }
}

@keyframes anim3{
	0%,100%{ height: 30px; }
	50%{ height: 90px; }
}

@keyframes anim4{
	0%,100%{ height: 30px; }
	50%{ height: 80px; }
}